// SHADOWS
$boxShadow: 17px 1px 63px -5px rgba(89, 145, 207, 0.38);
$navBarboxShadow: 17px 1px 129px -5px rgba(89, 145, 207, 0);

// COLORS
$backgroundDefault: linear-gradient(82deg, #f5faff, #dcecff);
$inputDefaultColor: #e1ebf7;
$btnPrimaryColor: #0864ff;
$white: #ffffff;
$boxColor: #ffffff;
$navBarBackground: #0c1a3d;
$fontColor: #3b475b;
$numbersBlue: #0864ff;
$blurBackground: rgba(122, 123, 124, 0.5);
$red: #e95c3f;

// BORDERS
$searchBarBorder: solid 1px #659eff;
$newPostGroupBorder: solid 1px #e1ebf7;
